.myProfile {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1218px;
}

.profileSideBar {
  width: 490px;
  margin-top: 16px;
  margin-left: 0;
  margin-right: auto;
}

.personalRecord {
  width: 490px;
  height: 382px;

  border-radius: 10px;
  background-color: white;
}

.personalRecordHeader {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0px 4px 0px;
  margin: 0 auto;
  width: 458px;
}

.photosContainer {
  background-color: white;
  width: 490px;
  margin: 16px auto 0 0;
  padding-bottom: 16px;
  border-radius: 10px;
}

.personalRecordButton {
  width: 458px;
  height: 36px;
  margin: 16px auto;
  background-color: rgb(228, 230, 235);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(5, 5, 5);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.personalRecordButton:hover {
  background-color: rgb(216, 218, 223);
}

.myPosts {
  margin-top: 16px;
}
