html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.bodyLogin {
  width: 100%;
  height: 887.34px;
}

.loginUp {
  width: 100%;
  height: 720px;
  background-color: rgb(240, 242, 245);
}

.loginUpInner {
  width: 100%;
  height: 536px;
  padding-top: 72px;
  padding-bottom: 112px;
}

.loginUpContainer {
  width: 980px;
  height: 496px;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.loginRight {
  width: 396px;
  height: 496px;
}

.loginBottom {
  width: 100%;
  height: 192.613px;
}

.loginRightBottom {
  border-top: none;
  color: #1c1e21;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: 28px;
  text-align: center;
}

.loginRightBottom a {
  font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  direction: ltr;
  line-height: 1.34;
}

.loginRightBottom a:hover {
  text-decoration: underline;
}

.loginLeft1 {
  padding-right: 32px;
  width: 300px;
  width: 580px;
  height: 298.075px;
}
