.formContainer {
  width: 396px;
  height: 325.825px;
  padding-top: 10px;
  margin-top: 40px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
}

.loginRightBottom {
  width: 100px;
  height: 18.75px;
  margin-top: 28px;
}

.buttonMiddle {
  transform: translateY(30%);
}

.loginRightMiddle {
  margin-top: 16px;
  text-align: center;
}

.loginRightMiddle a {
  font-family: inherit;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  direction: ltr;
  line-height: 1.34;
}

.loginRightMiddle a:hover {
  text-decoration: underline;
}

.loginRightMiddle hr {
  margin: 20px 16px;
  width: 364px;
  font-size: 12px;
}
